<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/recom.css" />
  </head>
  <body>
    <div class="main">
      <div class="card">
        <img src="{{ image1 }}" class="image" />
        <p>{{movie1}}</p>
      </div>
      <div class="card">
        <img src="{{ image2 }}" class="image" />
        <p>{{movie2}}</p>
      </div>
      <div class="card">
        <img src="{{ image3 }}" class="image" />
        <p>{{movie3}}</p>
      </div>
      <div class="card">
        <img src="{{ image4 }}" class="image" />
        <p>{{movie4}}</p>
      </div>
      <div class="card">
        <img src="{{ image5 }}" class="image" />
        <p>{{movie5}}</p>
      </div>
      <div class="card">
        <img src="{{ image6 }}" class="image" />
        <p>{{movie6}}</p>
      </div>
      <div class="card">
        <img src="{{ image7 }}" class="image" />
        <p>{{movie7}}</p>
      </div>
      <div class="card">
        <img src="{{ image8 }}" class="image" />
        <p>{{movie8}}</p>
      </div>
      <div class="card">
        <img src="{{ image9 }}" class="image" />
        <p>{{movie9}}</p>
      </div>
      <div class="card">
        <img src="{{ image10 }}" class="image" />
        <p>{{movie10}}</p>
      </div>
    </div>
  </body>
</html>
